{% extends 'base.html.twig' %}

{% block title %}Nearby Shops{% endblock %}

{% block body %}
	<div>
	    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
	        <div class="container"><a href="#" class="navbar-brand" style="font-family:&#39;Allerta Stencil&#39;, sans-serif;"><span class="coding"><em>Coding </em></span><span><em>Challenge</em></span></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
	            <div
	                class="collapse navbar-collapse" id="navcol-1">
	                <ul class="nav navbar-nav ml-auto">
	                    <li class="nav-item"><a href="#" class="nav-link active"><strong>Nearby Shops</strong><br /></a></li>
	                    <li class="nav-item"><a href="{{path('preferred')}}" class="nav-link">My preferred Shops<br /></a></li>
	                    <li class="nav-item"><a href="{{path('logout')}}" class="btn btn-danger">Logout<br /></a></li>
	                </ul>
	        </div>
		</div>
		</nav>
	</div>
    <div>
        <div class="container">
        	<div class="row">
        		{% set continue = false %}
        		{% for item in product %}

        			{% for val in rejected %}
        				{% if (item.id == val.idProduct) and ("now"|date('d/m/Y H:m:s') < val.rejectedDate|date('d/m/Y H:m:s')) %}
        					{% set continue = true %}
        				{% endif %}
		        			
        			{% endfor %}

        			{% if not continue %}
				        <div class="pt-4 col-md-3 text-center">
			   			 	<span class="head-item">{{item.name}}</span>
			   			 	<img src="{{item.src}}" />
				        	<div class="pt-2 btn-group">
				        		<div class="row text-center">
				        			<div class="col-md-4">
				        				<a class="btn btn-danger" href="/rejected/{{item.id}}">Dislike</a>
				        			</div>

				        			<div class="p-2 l-20 col-md-4">
				        				<span class="head-item">{{item.price}} $</span>
				        			</div>

				        			<div class="col-md-4">
				        				<a class="btn btn-success" href="/preferred/add/{{item.id}}" >Like</a>
				        			</div>
				        		</div>
				        	</div>
					    </div>
				    {% endif %}

				    {% if continue %}
				        {% set continue = false %}
				    {% endif %}

        		{% endfor %}
	   			 
			</div>
		</div>
{% endblock %}
