{% extends 'base.html.twig' %}

{% block title %}Preferred Shops{% endblock %}

{% block body %}
	<div>
		<nav class="navbar navbar-light navbar-expand-md navigation-clean">
	    <div class="container"><a href="#" class="navbar-brand" style="font-family:&#39;Allerta Stencil&#39;, sans-serif;"><span class="coding"><em>Coding </em></span><span><em>Challenge</em></span></a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
	        <div
	            class="collapse navbar-collapse" id="navcol-1">
	            <ul class="nav navbar-nav ml-auto">
	                <li role="presentation" class="nav-item"><a href="{{path('nearby')}}" class="nav-link">Nearby Shops<br /></a></li>
	                <li role="presentation" class="nav-item"><a href="#" class="nav-link active"><strong>My preferred Shops</strong><br /></a></li>
	                <li class="nav-item"><a href="{{path('logout')}}" class="btn btn-danger">Logout<br /></a></li>
	            </ul>
	    </div>
	    </div>
		</nav>
	</div>
    <div>
        <div class="container">
        	<div class="row">
        		{% set index = 0 %}
	    		{% for item in preferred %}
        			<div class="pt-4 col-md-3 text-center">
		   			 	<span class="head-item">{{item.name}}</span>
		   			 	<img src="{{item.src}}" />
			        	<div class="pt-2 btn-group">
			        		<a class="btn btn-danger" href="/preferred/remove/{{idPreferred[index]}}">Remove</a>
			        	</div>
				    </div>
				    {% set index = index + 1 %}
        		{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
